@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px; /*the buttons have some padding */
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.container {
  /*added this class with the following properties and values to make the footer stick to the bottom */
  height: 100%; /*the container has same height as the body  */

  display: flex;
  flex-direction: column;
}

.header {
  /*separate the left list items from the right list items */
  display: flex;
  justify-content: space-between;
  /*some space between the header and the content */
}
.header,
.footer {
  /*add some padding on the header and footer */

  padding: 5px;
}

.footer {
  /*some space between the footer and the content */
}

.left-links,
.right-links {
  /*position the left and right link in a row and add some space  */
  gap: 1.5rem;
  display: flex;
}
.left-links:last-child,
.right-links:last-child {
  margin-right: 40px; /*select the last child element and add some margin so they aren't so close to the right edge */
}
li {
  /*removes the list bullets */
  list-style-type: none;
}

li a {
  /*remove the blue underline under all the links */
  text-decoration-line: none;
}

.content {
  flex: 1; /*make the content take up more space(height) same as flex: 1 1 0 */
  /*center the The logo, input and buttons */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*There is space between the logo, input and buttons. */
  /*we'll add a row gap here, we want space between logo input and button */
  row-gap: 0.5rem;
}

.footer {
  background-color: #eeeeee;

  display: flex;
  justify-content: space-between;
}
